@media (prefers-color-scheme: light) {
  :root {
    --bg: #f5f5f5;
    --modal-bg: #ffffff;
    --setting-bg: #ffffff;
    --setting-border: #e2e2e2;
    --setting-title: #252525;
    --setting-icon-bg: #e6f4fb;
    --setting-text: #1fa2de;
    --overlay: #f5f5f5;
    --modal-text: #252525;
    --modal-close: #252525;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #2d2d2d;
    --modal-bg: #2d2d2d;
    --setting-bg: #252525;
    --setting-border: #252525;
    --setting-title: #ffffff;
    --setting-icon-bg: #404040;
    --setting-text: #31beff;
    --overlay: rgba(45, 45, 45, 0.75);
    --modal-text: #f8f8f8;
    --modal-close: #F8F8F8;
  }
}
